[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=untitled222
Exec=/usr/bin/single-instance /opt/untitled222/bin/untitled222
Icon=/usr/share/icons/hicolor/80x80/apps/untitled22280.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
